[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Anaouder-mich
Comment=Anaouder-mich editor
Categories=Audio;Video;AudioVideo;AudioVideoEditing;
Exec="/home/gweltaz/Projets/Informatique/anaouder_editor/dist/Anaouder-editor" %F
MimeType=application/x-ali;
Terminal=false
StartupNotify=false
