[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Anaouder
Comment=Anaouder
Categories=Audio;Video;AudioVideo;AudioVideoEditing;
Exec="/home/gweltaz/opt/Anaouder/Anaouder" %F
MimeType=application/x-ali;
Terminal=false
StartupNotify=false
